$sqrt2: 1.41421356237;

.emotions-picker {
  // position: absolute;
  // z-index: 3;
  // top: 10px;
  // left: 10px;
  // .user {
  //   position: relative;
  //   width: 200px;
  //   height: 200px / $sqrt2;
  //   background: red;
  //   i {
  //     position: absolute;
  //     display: inline-block;
  //     width: 10px;
  //     height: 10px;
  //     border-radius: 50%;
  //     background: blue;
  //   }
  // }
}

* {
  user-select: none;
}

/********* main ************/

main.app {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.foreground {
  height: 100%;
  position: relative;
  z-index: 2;
}
button {
  position: relative;
  z-index: 1;
}
.controls {
  z-index: 10;
}

/********* weather ************/

.weather {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sun {
  position: absolute;
  right: 30%;
  border-radius: 50%;
  transform: translateX(50%);
  box-shadow: 0 0 15px rgba(black, .4);
}
.sea {
  position: absolute;
  left: -10px;
  top: 60%;
}

/********* garden ************/

$flowers: 4;  //must match the number in component data

#garden {
  transform-origin: bottom left;
  position: absolute;
  width: 100vw;
  height: 70vh;
  left: 0;
  bottom: 0;
  > svg {
    width: 100%;
    height: 100%;
  }
  // background:
  //   radial-gradient(farthest-side at 0% 150%, red, blue 100%, transparent 100%),
  //   radial-gradient(farthest-side at 100% 150%, red, blue 100%, transparent 100%),
  // ;
  .instances > svg {
    position: absolute;
    overflow: overlay;
    &:nth-child(1) {
      left: 10%;
      bottom: 5%;
    }
    &:nth-child(2) {
      left: 20%;
      bottom: 5%;
    }
    &:nth-child(3) {
      left: 50%;
      bottom: 5%;
    }
    &:nth-child(4) {
      left: 60%;
      bottom: 5%;
    }
  }
}

#house {
  display: inline-block;
  position: absolute;
  bottom: 10vh;
  height: 47vh;
  width: 75vh;
  background: white;
  .roof {
    position: absolute;
    bottom: 100%;
    width: 110%;
    height: 70%;
    left: -5%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background: white;
  }
}
.emotions-picker {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  button {
    display: none;
  }
  .user {
    position: relative;
    width: 100%;
    height: 100%;
    background: red;
    i {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: blue;
    }
  }
}